/* $Id: threecol_25_50_25_stacked.css,v 1.1.2.1 2008/12/16 21:27:58 merlinofchaos Exp $ */

.panel-1col-with-feeds { 
/*  overflow: hidden;  */
}

.panel-1col-with-feeds .panel-col-top,
.panel-1col-with-feeds .panel-col-bottom { 
  width: 100%; 
  clear: both;
}

.panel-1col-with-feeds .panel-col-top .inside {
  margin-bottom: .5em;
}

.panel-1col-with-feeds .panel-col-first { 
  float: left; 
  width: 25%;
}

.panel-1col-with-feeds .panel-col .inside { 
  margin: 0 .5em 1em .5em;
}

.panel-1col-with-feeds .panel-col { 
  float: left; 
  width: 25%; 
}

.panel-1col-with-feeds .panel-col .inside { 
  margin: 0 .5em 1em .5em;
}

.panel-1col-with-feeds .panel-col-last { 
  float: left; 
  width: 45%; 
}

.panel-1col-with-feeds .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

.panel-1col-with-feeds .panel-separator {
  margin: 0 0 1em 0;
}
